<!-- <%PPPPPPPPP= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%PPPPPPPPP= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%PPPPPPPPP= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%PPPPPPPPP= f.label :title %><br>
    <%PPPPPPPPP= f.text_field :title %>
  </div>
  <div class="field">
    <%PPPPPPPPP= f.label :public_description %><br>
    <%PPPPPPPPP= f.text_area :public_description %>
  </div>
  <div class="field">
    <%PPPPPPPPP= f.label :private_description %><br>
    <%PPPPPPPPP= f.text_area :private_description %>
  </div>
  <div class="field">
    <%PPPPPPPPP= f.label :date %><br>
    <%PPPPPPPPP= f.date_select :date %>
  </div>
  <div class="field">
    <%PPPPPPPPP= f.label :time %><br>
    <%PPPPPPPPP= f.time_select :time %>
  </div>
  <div class="field">
    <%PPPPPPPPP= f.label :location %><br>
    <%PPPPPPPPP= f.text_field :location %>
  </div>
  <div class="field">
    <%PPPPPPPPP= f.label :price %><br>
    <%PPPPPPPPP= f.text_field :price %>
  </div>
  <div class="field">
    <%PPPPPPPPP= f.label :max_attendances %><br>
    <%PPPPPPPPP= f.number_field :max_attendances %>
  </div>
  <div class="field">
    <%PPPPPPPPP= f.label :event_picture_url %><br>
    <%PPPPPPPPP= f.text_field :event_picture_url %>
  </div>
  <div class="field">
    <%PPPPPPPPP= f.label :public_code %><br>
    <%PPPPPPPPP= f.text_field :public_code %>
  </div>
  <div class="field">
    <%PPPPPPPPP= f.label :private_code %><br>
    <%PPPPPPPPP= f.text_field :private_code %>
  </div>
  <div class="field">
    <%PPPPPPPPP= f.label :publico %><br>
    <%PPPPPPPPP= f.check_box :publico %>
  </div>
  <div class="actions">
    <%PPPPPPPPP= f.submit %>
  </div>
<% end %> -->
